In [57]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

In [58]:
# Load dataset
data = pd.read_csv('co2.csv')
data['time'] = pd.to_datetime(data['time'], yearfirst = True)
data['co2'] = data['co2'].interpolate()

In [59]:

def create_data(data, window_size, target_size):
    i = 1
    while i < window_size:
        data[f'co2_{i}'] = data['co2'].shift(-i)
        i += 1
    i = 0
    while i < target_size:
        data[f'target_{i}'] = data['co2'].shift(-i - window_size)
        i += 1

    data = data.dropna(axis = 0)
    return data

In [60]:
window_size = 5
target_size = 3
train_ratio = 0.8
data = create_data(data, window_size, target_size)

In [61]:
targets = [f'target_{i}' for i in range(target_size)]
x = data.drop(['time'] + targets, axis = 1)
y = data[targets]
num_samples = len(y)

In [62]:
x_train = x[:int(num_samples * train_ratio)]
y_train = y[:int(len(data)* train_ratio)]
x_test = x[int(len(data)* train_ratio):] 
y_test = y[int(len(data)* train_ratio):]

In [67]:
y_test

      target_0  target_1  target_2
1821     358.8     359.1     358.8
1822     359.1     358.8     359.4
1823     358.8     359.4     360.0
1824     359.4     360.0     359.6
1825     360.0     359.6     359.7
...        ...       ...       ...
2272     369.7     370.3     370.3
2273     370.3     370.3     370.8
2274     370.3     370.8     371.2
2275     370.8     371.2     371.3
2276     371.2     371.3     371.5

[456 rows x 3 columns]

In [63]:
# models = [LinearRegression() for i in range(target_size)]
# r2 =[]
# for i, model in enumerate(models):
#     model.fit(x_train, y_train[f'target_{i}'])
#     y_predict = model.predict(x_test)
#     r2.append(r2_score(y_test[f'target_{i}'], y_predict))

# print(r2)

[0.9906941835498277, 0.98237714068054, 0.9728273214391033]

In [81]:
model = LinearRegression()
model.fit(x_train, y_train['target_0'])
y_predict = model.predict(x_test)

In [106]:
y_predict.type(), y_test["target_0"].type()

AttributeError: 'numpy.ndarray' object has no attribute 'type'

In [104]:

for i in range(0, 10):  # Start from 0 if you want the first 10 elements
    print(f'True value: {y_test["target_0"].iloc[i]}, Predict value: {y_predict[i]}')

True value: 358.8, Predict value: 358.3909330007711
True value: 359.1, Predict value: 358.8980855775719
True value: 358.8, Predict value: 359.06639451252056
True value: 359.4, Predict value: 358.97003237685607
True value: 360.0, Predict value: 359.5437041430819
True value: 359.6, Predict value: 359.9916335570886
True value: 359.7, Predict value: 359.79587430105545
True value: 360.7, Predict value: 359.92388134742674
True value: 360.6, Predict value: 360.64112121467184
True value: 360.3, Predict value: 360.6588717542442